Agentes IA.json
{
  "name": "v2",
  "nodes": [
    {
      "parameters": {},
      "id": "f3e765ca-a928-491f-a5d6-c541bd3c42ce",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        380
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1KYvKvUjS0Ad9Ujp3EW4WXFFWzjLlZOcl",
          "mode": "list",
          "cachedResultName": "Empresa Fictícia .pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1KYvKvUjS0Ad9Ujp3EW4WXFFWzjLlZOcl/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "9a61942e-c009-4e46-906d-a6ee80521910",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        380
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PvcClAo80oFrFAsy",
          "name": "Google Drive account (emerson)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "121a1113-ca86-492a-a1d2-02e61fd84854",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        320,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "pJKfXtocuvizBC2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "id": "90a7f77a-1add-4901-a17e-8520cc4abfa1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        640,
        640
      ]
    },
    {
      "parameters": {},
      "id": "57b230db-12d3-4318-b34d-86025ff6814c",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        820
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a5559350-3a1c-45d5-b32a-f1a2671f076d",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1480,
        940
      ],
      "credentials": {
        "openAiApi": {
          "id": "pJKfXtocuvizBC2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conhecimento",
        "description": "recuperar dados sobre Chat2Desk "
      },
      "id": "d8142866-7bc8-4ce6-b212-47530d70ecdf",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1680,
        480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9105e324-0d80-4879-812b-0d08898b3f5a",
      "name": "Groq Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1860,
        720
      ],
      "credentials": {
        "groqApi": {
          "id": "ke4nY0ugyMRBqirr",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3bd09e83-154a-42b8-a463-7077fc356d77",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1100,
        320
      ],
      "webhookId": "eb0847b1-7220-4276-a885-b36609ac2c25"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "98543b44-221b-48c3-a03a-2303123f2bbe",
      "name": "Supabase Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1480,
        680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PJ4GS2roMjHl59fS",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "64520ad2-b642-47da-afab-74f08d4155ca",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        440,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PJ4GS2roMjHl59fS",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "09939775-e041-4cc2-8689-043ceea922bb",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1340,
        540
      ],
      "credentials": {
        "groqApi": {
          "id": "ke4nY0ugyMRBqirr",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "id": "2a1c3b57-5864-4abc-b0ed-f8c3fb20de38",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1340,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "274140d5-0124-47ef-9cbc-ef1f33322130",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "lEQvTV0t936ir0Oq",
  "tags": []
}